
@{
    ViewBag.Title = "Team";
}

<div class="col-md-12"><img src="~/Content/Images/logoTeamR.jpg"></div>
<p class="lead">Team Rocket is a criminal organization, with their headquarters in the Kanto Region and the Johto region and a branch in Sevii Islands. They are headed by Giovanni, who also doubles as the Viridian City Gym Leader. Team Rocket's main goal is obtaining powerful and rare Pokémon to help their criminal syndicate in the hopes of someday taking over the world. They obtain these Pokémon by regular capture, or more often, theft. In addition to this they also perform inhuman experiments on Pokémon to further enhance their power.<p>
